.table {
  border-collapse: collapse;
}

th {
  border: 1px solid rgb(204, 204, 204);
  color: white;
  font-weight: 700;
  height: 40px;
  padding: 6px;
  text-align: center;
}

td {
  border: 1px solid rgb(204, 204, 204);
  height: 50px;
  padding: 6px;
  text-align: center;
}
