.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgb(241, 194, 40);
  font-size: 30px;
  height: 57px;
  padding: 10px 38px 10px 16px;
  background: rgb(0, 0, 0) url("https://anselmurban.de/codepen-img/select-arrows.svg") no-repeat right 16px center;
  background-size: 10px;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid rgb(241, 194, 40);  
  border-radius: 3px;
}
.custom-select:hover {
  border: 1px solid rgb(241, 194, 40);
}
.custom-select:focus {
  border: 1px solid rgb(241, 194, 40);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
  display:none;
}
