td , th {
  padding: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

td {
  border-bottom: 1px solid rgb(82, 0, 34);
  color: #ddd;
}

th {
  border-bottom: 1px solid rgb(82, 0, 34);
  color: rgb(255, 217, 0);
}