table,
th,
td {
  border: 1px solid black;
  text-transform: capitalize;
  width: 100%;
}

body {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  padding-top: 70px;
}

.App {
  text-align: center;
}